.basket-item-container {
  margin: 1rem 0;
}

.basket-item {
  display: flex;
  background-color: #eeeeee;
  width: 100%;
}

.basket-image-container {
  display: flex;
  height: 8rem;
}

.basket-image-container--large {
  height: 10rem;
}

.basket-product-image {
  width: 7rem;
}

.basket-product-image--large {
  width: 10rem;
}

.text-container {
  position: relative;
  margin-left: 1rem;
  padding-top: 0.5rem;
  width: 100%;
}

.header {
  font-size: 1.1rem;
  font-weight: bold;
}

.item {
  font-size: 1rem;
  padding: 0.2rem 0;
}

.bin {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.bin:hover {
  cursor: pointer;
  color: red;
}
