.main-body {
  margin-top: 7.9rem;
}

@media screen and (max-width: 768px) {
  .main-body {
    margin-top: 3.7rem;
  }
}

@media screen and (max-width: 420px) {
  .main-body {
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 355px) {
  .main-body {
    margin-top: 4.7rem;
  }
}
