.basket-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 3rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
}

.basket-detail-container {
  width: 50%;
}

.basket-summary-container {
  width: 40%;
}

.empty-basket {
  background-color: #eeeeee;
  width: 50%;
  border-radius: 5%;
  height: 5rem;
  margin: 3rem 1rem;
  padding: 1rem 0;
  font-weight: bold;
}

.basket-summary {
  background-color: #eeeeee;
  border-radius: 5%;
  height: 30rem;
  width: 100%;
  margin-top: 1rem;
}

.summary-title {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 0.7rem;
}

.summary-info {
  margin-left: 2rem;
  padding: 0.5rem 0;
}

.summary-info div {
  margin-bottom: 1rem;
}

.discount-container {
  margin: 1rem 0 2rem 0;
}

.invalid-discount {
  color: red;
  font-weight: bold;
}

.discount-input {
  width: 70%;
  height: 2.5rem;
  padding-left: 1rem;
}

.apply-button {
  height: 2.5rem;
  background-color: grey;
  color: white;
  font-weight: bold;
  border: none;
}

.apply-button:hover {
  transform: scale(1.1);
}

.confirm-button {
  width: 80%;
  margin: auto;
  background-color: red;
  border: red;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5%;
}

.confirm-button:hover {
  width: 80%;
  margin: auto;
  background-color: white;
  color: red;
  border: red 1px solid;
}

@media screen and (max-width: 683px) {
  .basket-detail-container {
    width: 90%;
  }

  .basket-summary-container {
    width: 90%;
  }

  .empty-basket {
    width: 90%;
  }
}
