.products-body {
  display: flex;
  margin: 0rem 3rem;
  padding: 3rem 0;
}

.filters-div {
  width: 25%;
}

.filters-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.product-container {
  padding: 0rem 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.data-error {
  background-color: #eeeeee;
  width: 50%;
  border-radius: 5%;
  height: 5rem;
  margin: 3rem 1rem;
  padding: 1.5rem 0;
  font-weight: bold;
}

.category-button {
  background-color: transparent;
  border: none;
}

.category-button:hover {
  background-color: red;
  color: white;
  border: none;
}

.mobile-filters-div {
  margin-top: 1.5rem;
  width: 100%;
  height: 3.5rem;
  background-color: red;
  align-content: center;
}

.mobile-filters-strip {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.6rem;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .filters-div {
    display: none;
  }

  .product-container {
    padding: 0rem 0rem;
  }
}

@media screen and (min-width: 769px) {
  .mobile-filters-div {
    display: none;
  }
}
