.nav-container {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 0rem 1rem;
  z-index: 150;
  box-shadow: 0px 15px 10px -15px rgb(134, 134, 134);
}

.lower-nav {
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: center;
  padding: 1rem 0;
}

.search-bar {
  border-radius: 5%;
  padding: 0 1rem;
  border: none;
  border-bottom: 1px black solid;
}

.search-button {
  outline: none;
  background: transparent;
  border: none;
}

.search-button:hover {
  transform: scale(1.5);
}
.nav-logo a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

.nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  padding: 0 1rem;
}

.nav-items a {
  color: black;
  text-decoration: none;
}

.nav-items a:hover,
.nav-items a:active {
  color: red;
  text-decoration: none;
}

.nav-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-basket-icon,
.nav-account-icon,
.nav-search-icon {
  text-decoration: none;
  color: #000;
  margin: 0 1rem;
}

.nav-basket-icon:hover,
.nav-account-icon:hover,
.nav-search-icon:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .nav-items,
  .nav-search {
    display: none;
  }
  .nav-basket-icon,
  .nav-account-icon,
  .nav-search-icon {
    margin: 0 0.7rem;
  }

  .lower-nav {
    display: none;
  }

  .nav-logo a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .nav-logo a {
    font-size: 1.3rem;
  }

  .logo-div,
  .actions-div,
  .nav-bar-toggler {
    padding: 0;
  }
  .nav-basket-icon,
  .nav-account-icon,
  .nav-search-icon {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 414px) {
  .nav-logo a {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 769px) {
  .nav-bar-toggler {
    display: none;
  }

  .nav-search-div {
    display: none;
  }

  .nav-logo {
    margin-left: 0;
  }
}
